<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hebaohua.netease.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="com.hebaohua.netease.entity.User" >
    <id column="userId" property="userId" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userPwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="userType" property="userType" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    userId, userName, userPwd, userType
  </sql>

  <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userName = #{userName,jdbcType=VARCHAR}
  </select>

</mapper>